.item a .desc{
          display: block;
          font-size: 1.2em;
          background: #111;
          filter:alpha(opacity=75);
          opacity:.75;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /*--IE 8 Transparency--*/
          color: #fff;
          position: relative;
          top: 0px;
          padding:10px;
          width: 100%;
          margin: 0;
          border-top: 1px solid #999;
}
